.font-inter{
    font-family: 'Inter', sans-serif;
}

.font-merry{
    font-family: 'Merriweather', serif;
}

.font-nunito{
    font-family: 'Nunito', sans-serif;
}

.para-height{
    line-height: 26px;
}